<h1>Editing Many Alumnos Has Many Asignatura</h1>

<%= render 'form', many_alumnos_has_many_asignatura: @many_alumnos_has_many_asignatura %>

<%= link_to 'Show', @many_alumnos_has_many_asignatura %> |
<%= link_to 'Back', many_alumnos_has_many_asignaturas_path %>
